{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <title>我的主页</title>
    <script type="text/javascript" src="{% static 'my_blog/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    <link rel="stylesheet" href="{% static "my_blog/bootstrap.min.css" %}">
    <script src="{% static 'my_blog/bootstrap.min.js' %}"></script>
{% endblock head %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-xs-4">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-6 col-md-offset-1">
                <h2>{{ user.username }}</h2>
                <ul>
                    <li>昵称：</li>
                    <li>
                        邮箱：
                        {% if user.email %}
                            {{ user.email }}
                        {% else %}
                            未绑定
                            <a href="#">绑定邮箱</a>
                        {% endif %}
                    </li>
                    <li>上次登陆时间：{{ user.last_login|date:'Y-m-d H:i:s' }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}