{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load comment_tags %}
{% block head %}
    <meta charset="UTF-8">
    <title>全部博客</title>
    <script type="text/javascript" src="{% static 'my_blog/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    <link rel="stylesheet" href="{% static "my_blog/bootstrap.min.css" %}">
    <script src="{% static 'my_blog/bootstrap.min.js' %}"></script>
    <style>
        {#nav.paginator {#}
        {#    text-align:center;#}
        {#}#}
        div.panel-body li {
            list-style-type: none;
        }
        li.blog_list a {
            color: #404040;
        }
        li.blog_list a:hover {
            color: #175199;
            text-decoration: none;
        }
        h5.fenlei {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        ul.type {
            padding-left: 10px;
        }
        {#div.navbar-brand-user {#}
        {#    color: #9d9d9d;#}
        {#    float: left;#}
        {#    height: 50px;#}
        {#    padding: 15px 15px;#}
        {#    font-size: 18px;#}
        {#    line-height: 20px;#}
        {#    box-sizing: border-box;#}
        {#    margin-left: -5px;#}
    </style>
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">全部内容</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for item in page %}
                            <li class="blog_list">
                                <h3>
                                    <a href="/blog/{{ item.id }}">{{ item.title }}</a>
                                </h3>
                                {#内容预览#}
                                <div>
                                     <span class="glyphicon glyphicon-tag"></span> {{ item.blog_type }}
                                        &nbsp;&nbsp;
                                     <span class="glyphicon glyphicon-time"></span> 发表日期：{{ item.created_time }}
                                        &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-comment" style="color: rgba(0, 1, 6, 0.55);"></span> 评论({% comments_count item %})
                                    <br>
                                    <p style="overflow: hidden;">{{ item.content|truncatechars:80|safe }}</p>
                                    {% if not forloop.last %}<hr>{% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <!--分 页 器-->
                    <nav class="paginator" aria-label="Page navigation" style="text-align: center;">
                         <ul class="pagination">
                             {% if page.has_previous %}
                                 <li>
                                     <a href="/{{ page.number|add:-1 }}/" aria-label="Previous">
                                         <span aria-hidden="true">&laquo;</span>
                                     </a>
                                 </li>
                             {% else %}
                                  <li class="disable">
                                    <span>
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                  </li>
                             {% endif %}

                             {% for index in page.paginator.page_range %}
                                 {% if index == page.number %}
                                    <li class="active"><a href="/{{ index }}/">{{ index }}</a></li>
                                 {% else %}
                                    <li><a href="/{{ index }}/">{{ index }}</a></li>
                                 {% endif %}
                             {% endfor %}

                             {% if page.has_next %}
                                    <li>
                                        <a href="/{{ page.number|add:1 }}/" aria-label="Next">
                                           <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                             {% else %}
                                    <li class="disable">
                                        <span>
                                            <span aria-hidden="true">&raquo;</span>
                                        </span>
                                    </li>
                             {% endif %}
                         </ul>
                    </nav>

                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="fenlei">分类</h5>
                </div>
                <div class="panel-body">
                 <ul class="list-group"><!--"type"-->
                    {% for type in blog_type %}
                        <li class="list-group-item">
                            <a href="{% url 'show_type' type.id %}">
                                {{ type.type_name }}
                                <span class="badge" style="float: right">{{ type.blog_count }}篇</span>
                            </a>
                        </li>
                    {% endfor %}
                 </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="fenlei">时间</h5>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for blog_date,blog_count in dates.items %}
                            <li class="list-group-item">
                                <a href="{% url 'show_date' blog_date.year blog_date.month %}">
                                    {{ blog_date|date:'Y年m月' }}
                                    <span class="badge" style="float: right">{{ blog_count }}篇</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}