{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1">
    <script type="text/javascript" src="{% static 'my_blog/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    <link rel="stylesheet" href="{% static 'my_blog/show_type.css' %}">
    <link rel="stylesheet" href="{% static "my_blog/bootstrap.min.css" %}">
    <script src="{% static 'my_blog/bootstrap.min.js' %}"></script>
    <title>{{ year }}年{{ month }}月</title>
    <style>
        nav.paginator {
            text-align:center;
        }
        div.panel-body li {
            list-style-type: none;
        }
        li.blog_list {
            padding-left: 40px;
        }
        li.blog_list a {
            color: #404040;
        }
        li.blog_list a:hover {
            color: #175199;
            text-decoration: none;
        }
        h5.fenlei {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        ul.type {
            padding-left: 10px;
        }
        div.navbar-brand-user {
            color: #9d9d9d;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
            box-sizing: border-box;
            margin-left: -5px;
        }
    </style>
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ year }}年{{ month }}月</h3>
                </div>
                <div class="panel-body">
                    <ul >{% for blog in page %}
                        <li class="show_type">
                            <h3>
                                <a href="/blog/{{ blog.id }}">{{ blog.title }}</a>
                            </h3>
                            {#内容预览#}
                            <p>{{ blog.content|safe|truncatechars:20 }}&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-tag"></span>{{ blog.blog_type }}&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-time"></span>发表日期：{{ blog.created_time }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    <hr>
                    <nav class="paginator" aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page.has_previous %}
                                <li>
                                    <a href="?index={{ page.number|add:-1 }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disable">
                                    <span>
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                </li>
                            {% endif %}
                            {% for index in page.paginator.page_range %}
                                {% if index == page.number %}
                                    <li class="active"><span>{{ index }}</span></li>
                                {% else %}
                                    <li><a href="?index={{ index }}">{{ index }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page.has_next %}
                                <li>
                                    <a href="?index={{ page.number|add:1 }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disable">
                                    <span>
                                        <span aria-hidden="true">&raquo;</span>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}